.imgindex {
  width: 30%;
}
body{
  background-image: url(https://source.unsplash.com/random);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-weight: bold;
  font-size: 16px;
  color: white;

}
nav {
  background-color: transparent;
}
html, body {
  min-height: 100%;
}
.box-weather {
  background-color: #02020285;
  height: 110vh;
}
p {
  margin: 0 0 10px;
  font-weight: bold;
}
.title{
  background-color: white;
  color: gray;
  font-weight: bold;
  text-align: center;
}
.weather {
  background-color: darkturquoise;
  color: white;
  font-size: 16px;
}
.separation {
  margin-bottom: 1rem;
}
@media (min-width: 700px) {
  .imgindex {
    width: 150px;
  }
}
